<section>
    <h2>
        <%= title %>
    </h2>
    <div class="div-container">
        <img src="images/R.png" alt="Rodolfo Jofiel">
        <p>Tengo 23 actualmente trabajando como Desarrollador Frontend con Angular. Tengo experiencia en atencion al
            cliente, diseño web, tengo conocimientos sobre microinformatica.</p>
        <p>Apasionado por los lenguajes de programación y las nuevas tecnologias.</p>
    </div>
    <h2>Mis conocimientos actuales</h2>
    <ul class="menu_container skills">
        <li>HTML y CSS</li>
        <li>JavaScript</li>
        <li>NodeJS</li>
        <li>Express</li>
        <li>Git</li>
        <li>Angular</li>
        <li>TypeScript</li>
        <li>SCSS</li>
        <li>Java</li>
    </ul>
</section>