<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Módulo 2: Proyecto FullStack con JS</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <header>
        <h1>
            Módulo 2: Creación del MVC de la Lista del Recurso de Preguntas, Autocarga, Paginación, Búsqueda...
        </h1>
    </header>
    <nav>
        <ul class="menu_container">
            <li><a href="/">Home</a></li>
            <li><a href="/Quizzes">Quizzes</a></li>
            <li><a href="/credits">Credits</a></li>
        </ul>
    </nav>
    <hr>
    <main>
        <%- body %>
    </main>
    <footer>
        <hr>
        <small>Rodolfo Jofiel Cruzado &copy;2021</small>
        <hr>
    </footer>
</body>

</html>